$color-white: #fff;
$color-text-primary: #212529;
$color-text-secondary: #303742;
$color-buttons: #5a9cff;
$color-buttons-secondary: #4389f2;
$box-shadow: 0 0 19px 0 rgba(179, 203, 255, 0.04);

$font: Muli, sans-serif;